In [1]:
import csv
import sys
import pandas as pd
import os
import glob
import itertools
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
import math

path = r'C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few'
all_files = glob.glob(os.path.join(path, "synthetic_dataprep_A.csv"))
print(len(all_files))

for f in all_files:
    print("Working with file:" + str(f))
    cols = ['IO_Num','LBA']
    df = pd.read_csv(f,engine='python',skiprows =1,header=None,na_values=['-1'], index_col=False)
    df.columns = cols
    print("Number of IO Accesses: ",len(df))

1
Working with file:C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few\synthetic_dataprep_A.csv
Number of IO Accesses:  12166090

In [7]:
df[1216605:1216615]

          IO_Num      LBA
1216605  1216605  1216605
1216606  1216606  1216606
1216607  1216607  1216607
1216608  1216608  1216608
1216609  1216609        0
1216610  1216610        1
1216611  1216611        2
1216612  1216612        3
1216613  1216613        4
1216614  1216614        5

In [6]:
df.head(5)

   IO_Num  LBA
0       0    0
1       1    1
2       2    2
3       3    3
4       4    4

In [12]:
def dataprep(f):
    print("Working with file:" + str(f))
    cols = ['IO_Num','LBA']
    df = pd.read_csv(f,engine='python',skiprows =1,header=None,na_values=['-1'], index_col=False)
    df.columns = cols
    print("Number of IO Accesses: ",len(df))
    
    lba_list = df['LBA'].tolist()
    
    # Compute death time per LBA and add a column
    death_time_list = []
    counter = -1
    death_delta = 1216609  # Hyperparameter
    
    for x in lba_list:
        death_time_list.append(death_delta)
        
    df_out = pd.DataFrame(columns = ['LBA','Death_time'])
    df_out['LBA'] = lba_list
    df_out['Death_time'] = death_time_list
    df_out.to_csv(f + "_dataprep_heiner_deathtime_added.csv")
    print(f, ' ---  Data Prep Done')

In [13]:
for f in all_files:
    dataprep(f)

Working with file:C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few\synthetic_dataprep_A.csv
Number of IO Accesses:  12166090
C:\Users\cchak\Desktop\Data_ECML\VDI Traces\selected_few\synthetic_dataprep_A.csv  ---  Data Prep Done